.contact-cozy
  = image_tag "p1.jpg", alt: "Winston Teo"
  .details
    .profile
      .name
        Winston Teo
      .work
        Software Engineer @ New Context
    .email
      %span.label E:
      = link_to "winston@newcontext.com", "winston@newcontext.com"
    .twitter
      %span.label T:
      = link_to "@winstonyw", "http://www.twitter.com/winstonyw"
    .mobile
      %span.label M:
      91234567


.contact-wide
  = image_tag "p1.jpg", alt: "Winston Teo"
  .details
    .profile
      .name
        Winston Teo

    .email
      %span.label E:
      = link_to "winston@newcontext.com", "winston@newcontext.com"
    .twitter
      %span.label T:
      = link_to "@winstonyw", "http://www.twitter.com/winstonyw"
    .mobile
      %span.label M:
      91234567
